@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  nav {
    padding: 11px 0;
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-right: 40px;
    }
    .nav-items {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 30px;
      .important {
        display: flex;
        justify-content: space-evenly;

        button {
          padding: 8px;
          background-color: #70c05b;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          margin-right: 16px;
        }
        .icon {
          padding: 12px 0px 12px 8px;
          background: url("https://static.thenounproject.com/png/101791-200.png")
            no-repeat right;
          background-size: 20px;
          border: 2px solid #70c05b;
          border-radius: 8px;
          outline: none;
          width: clamp(100px, 344px, 344px);
          &:focus {
            background-image: none;
            transition: 0.3s;
          }
        }
      }
      .places {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;
        gap: 24px;
        .product {
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          display: grid;
          place-items: center;
          p {
            font-size: 12px;
            padding-top: 8px;
          }
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          width: (217px);
          height: (72px);
          padding: 8px;
          border-radius: 4px;
          gap: 10px;
        }
      }
    }
  }
}

.menu {
  border: 0;
  background: transparent;
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  nav {
    justify-content: space-between;
  }
  .nav-items {
    margin-top: 50px;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 76px;
    top: -100%;
    width: 100%;
    height: calc(100vh - 104px);
    background: #fff;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    .places {
      flex-direction: column;
    }
  }
  header nav .menu {
    display: block;
  }

  .open .nav-items {
    top: 0;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .nav-items {
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 76px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 104px);
    background: #fff;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .menu {
    display: block;
  }

  .open .nav-items {
    left: 0;
  }

  .open {
    box-shadow: none;
  }
  .icon {
    max-width: 150px;
  }
}

main {
  margin-top: 100px;
  background-color: #fbf8ec;
  .home {
    background-image: url(../images/pattern2.png);
    .home-content {
      display: flex;
      align-items: center;
      gap: 18px;
      flex-wrap: wrap-reverse;
      h1 {
        font-size: 48px;
      }
    }
  }
  .product-cards {
    padding-top: 80px;
    .products-cards_content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      //   .general {
      .cards-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        button {
          display: flex;
          align-items: center;
          background-color: transparent;
          padding: 8px;
          border-radius: 6px;
          &:hover {
            background-color: #70c05b;
            color: #fff;
            transition: 0.4s;
            svg path {
              fill: #fff;
            }
          }
        }
      }
      .cards {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .card {
          max-width: 272px;
          background-color: #fff;
          .card-texts {
            padding: 0px 10px;
            .prices {
              display: flex;
              justify-content: space-between;
              .price-1 {
                h3 {
                  width: (71px);
                  height: (27px);
                  gap: 4px;
                }
                p {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 18px;
                  color: #bfbfbf;
                }
              }
            }
            .stars {
              .rating {
                display: inline-block;
              }

              .rating input {
                display: none;
              }

              .rating label {
                float: right;
                cursor: pointer;
                color: #ccc;
                transition: color 0.3s;
              }

              .rating label:before {
                content: "\2605";
                font-size: 30px;
              }

              .rating input:checked ~ label,
              .rating label:hover,
              .rating label:hover ~ label {
                color: rgb(247, 207, 11);
                transition: color 0.3s;
              }
            }
            .card-btn {
              display: flex;
              justify-content: center;
              button {
                display: flex;
                font-size: 16px;
                font-weight: 400;
                border-radius: 4px;
                padding: 10px 80px;
                border: 2px solid #70c05b;
                background-color: transparent;
                color: #70c05b;
                &:hover {
                  background-color: #ff6633;
                  border-color: #ff6633;
                  color: #fff;
                  transition: 0.4s;
                }
              }
            }
          }
        }
        //   }
      }
    }
  }
}
